body {
    margin: 0px;
    padding: 0px;
}

section {
    float: left;
    width: 61%;
    padding: 2%;
    margin-right: 5%;
    background-color: gray;
}

aside {
    float: left;
    width: 26%;
    padding: 2%;
    background-color: honeydew;
}

.recuperar {
    padding: 5%;
    clear: both;
    background-color: brown;
}