.muestra{
    height: 300px;
    width: 400px;
    border: 5px solid red;
    margin: 20px;
    padding: 20px;
}
.anterior,.posterior{
    height: 100px;
    width: 200px;
    border: 2px solid blue;
    padding: 5px;
}
div{
    background: url(Images/f01.png) left bottom repeat-x,
    url(Images/f02.png) left bottom no-repeat,
    url(Images/f03.png) left top repeat-x;
    background-color:#a4d3ff ;
}