body{
    margin: 0px;
    padding: 0px;
}
section{
    float: left;
    width: 70%;
    background-color: gray;
}
aside{
    float: left;
    width: 30%;
    background-color: honeydew;
}
.recuperar{
    clear: both;
    background-color: brown;
}