* {
    margin: 0px;
    padding: 0px;
}
#contenedor{
    float: left;
    width: 100%;
    padding-right: 260px;
    margin-right: -240px;
    box-sizing: border-box;
}
aside{
    float: left;
    width: 240px;
    background-color: honeydew;
    box-sizing: border-box;
}
#columnacentral{
    float: right;
    width: 100%;
    padding-left: 220px;
    margin-left: -200px;
    box-sizing: border-box;
}
#columnacentral > div{
    padding: 20px;
    background-color: honeydew;
}
#columnaizquierda{
    float: left;
    width: 200px;
    padding: 20px;
    background-color: honeydew;
    box-sizing: border-box;
}
.recuperar{
    clear: both;
    background-color: brown;
    padding: 5px;
    width: 150%;
}
