body {
    margin: 0px;
    padding: 0px;
}

section {
    float: left;
    width: 61%;
    padding: 20px;
    margin-right: 5%;
    background-color: gray;
    box-sizing: border-box;
}

aside {
    float: left;
    width: 26%;
    padding: 20px;
    background-color: honeydew;
    box-sizing: border-box;

}

.recuperar {
    padding: 5px;
    clear: both;
    background-color: brown;
}