body{
    margin: 0px;
    padding: 0px;
    background-color: red;
}
@media(max-width: 1024px){
    body{
        background-color: blue;
    }
}
@media(max-width: 760px){
    body{
        background-color: pink;
    }
}
@media(max-width: 480px){
    body{
        background-color: green;
    }
}
@media(max-width: 320px){
    body{
        background-color: gray;
    }
}