body {
    margin: 0px;
    padding: 0px;
}

section {
    float: left;
    width: 100%;
    padding-right: 240px;
    margin-right: -240px;
    box-sizing: border-box;
}
section > div{
    padding: 20px;
    background-color: gray;
}

aside {
    float: left;
    width: 240px;
    padding: 20px;
    background-color: honeydew;
    box-sizing: border-box;

}

.recuperar {
    clear: both;
    background-color: brown;
    padding: 5px;
}